// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.coin-menu {
  .pane {
    min-height: 100vh;
    background-color: color($colors, lightdark);
  }
  .menu-list {
    border: none;
    background: transparent;
  }
  .menu-list .item {
    background: transparent;
    color: color($colors, light);
    border: none;
    ion-thumbnail {
      min-width: 26px;
      min-height: 26px;
      img {
        width: 26px;
        height: 26px;
      }      
    }
  }
  .menu-list .item:first-child {
    border: none;
  }
  .menu-list .item:last-child {
    border: none;
  }
  .menu-list .item .item-inner {
    border: none;
  }
}
