<!--
  Generated template for the CoinsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Coins</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="page-coin pane">
  <ion-list class="coin-list">
    <button ion-item *ngFor="let coin of coins" (click)="select(coin)">
      <ion-avatar item-left>
        <img [src]="getIcon(coin)">
      </ion-avatar>
      <h3>{{coin.name}}</h3>
      <p>{{coin.market_cap_usd | currency:'USD':true:'1.2'}}</p>
      <ion-note item-right>
        <ion-icon *ngIf="coin.percent_change_24h >= 0" color="secondary" name="md-arrow-dropup"></ion-icon>
        <ion-icon *ngIf="coin.percent_change_24h < 0" color="danger" name="md-arrow-dropdown"></ion-icon>
        <div class="price-wrapper">
          <div>Price</div>
          <div class="price">{{coin.price_usd | currency:'USD':true:'1.2'}}</div>
        </div>
      </ion-note>
    </button>
  </ion-list>
</ion-content>
